body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    display: none; 
}

#profile {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
   
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profileDetails {
    text-align: center;
}

#profileName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#bio {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}

.repos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.repo {
    width: 48%; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    padding: 8px;
    margin-right: 8px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.repo-link {
    display: block;
    margin-top: 15px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#currentPage {
    font-weight: bold;
    margin: 0 10px;
    font-size: 16px;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    .repo {
        width: 100%; 
        box-sizing: border-box;
    }

    .repos-container {
        justify-content: flex-start; 
    }
}